@media print {
    // body {
    //   background-color: #fff;
    // }
  
  body * {
      visibility: hidden; /* Hide everything */    
  }

  .resume-body * { visibility: visible; }

  .resume-body {
    position: absolute; 
    left: 0;
    top: 0;
    padding: 10px 5px;
    max-width: auto;
    max-height: auto;
  }

  .content { max-width: fit-content; }
}

