
/* saved resume */
.saved-resumes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
  }
  .saved-resume {
    background-color: var(--main-content-background-color, #1e1e1e);
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex-grow: 1;
    max-width: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transform */
  }
  .saved-resume i {
    font-size: 2rem;
    color: var(--theme-color, #bb86fc);
  }
  
  .saved-resume h4 {
    margin-top: 10px;
    font-size: 1.5rem;
    color: var(--theme-color, #bb86fc);
    font-weight: 500;
  }
  
//   .saved-resume p {
//     color: var(--text-color, #e0e0e0);
//   }
  
  .saved-resume:hover {
    transform: scale(1.1); /* Scale up the element */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5); /* Increase shadow on hover */
  }

  .resume-body {
    background-color: var(--resume-body-background-color, #1c2d34);
    color: var(--text-color, #f8f6f6);
  }