/* themes.css */

/* Base Variables */
:root {
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;

    --theme-color: #bb86fc;
  
  }
  
  /* Dark Theme Variables */
  [data-theme="dark"] {
    --body-bg: #000;
    // --text-color: #f8f9fa;
    --link-color: #edeeee;
    --card-bg: #343a40;
    --card-border-color: #495057;
    --input-bg: #495057;

    // --background-color: #000;
    --text-color: #e0e0e0;
    --sidebar-background-color: #1e1e1e;
    --main-content-background-color: #1e1e1e;
    --badge-text-color: #121212;
    --resume-body-background-color: #1c2d34;
  }


  /* Dark Theme Variables */
  [data-theme="light"] {
    --body-bg: #ffffff;
    --secondory-body-bg: var(--bs-light);
    --text-color: #212529;
    --link-color: var(--bs-primary);
    --card-bg: #ffffff;
    --card-border-color: #dee2e6;
    --input-bg: #ffffff;

    // --background-color: #ffffff;
    --sidebar-background-color: #f8f9fa;
    --main-content-background-color: #f8f9fa;
    --badge-text-color: #ffffff;
    --resume-body-background-color: #ffffff;
  }


  